@import './../../sass/theme.scss';

.divider {
    margin: 20px 0;
    border: none;

    &.dark-mode {
        border-top: 1px solid #e0e0e0;
    }

    &.light-mode {
        border-top: 1px solid #000000;
    }
}