@import "../sass/theme.scss";

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 344px;
}

.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
}