.UpperPart {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    max-width: 352px;
}

.add-tast-contenedor {
    width: 352px;
    height: fit-content;
    position: relative;
}