.UpperPart {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    max-width: 351px;
    background-color: #242424;
}

.add-tast-contenedor {
    width: 351px;
    height: 133px;
    position: relative;
}